# ================================================================================
#   ANSI PROJECT — CONFIGURAÇÕES DE AMBIENTE
#   Copie este arquivo para config.env e preencha os valores.
#   NUNCA commite o config.env — ele está no .gitignore.
# ================================================================================

JWT_SECRET_KEY=
JWT_EXPIRE_MINUTES=
JWT_ALGORITHM=HS256

EMAIL_REMETENTE=
EMAIL_SENHA_APP=

DB_HOST=localhost
DB_PORT=5432
DB_NAME=AMSI_Project
DB_USER=
DB_PASSWORD=

NGROK_TOKEN=
NGROK_DOMAIN=

TELEGRAM_BOT_TOKEN=
TELEGRAM_GROUP_ID=

APP_ENV=development
APP_HOST=localhost
APP_PORT=8000